<div class="main">
    <p class="sign" align="center">Acceso De Usuarios</p>
    <form class="form1" [formGroup]="loginForm" (ngSubmit)="onLogin()">

        <input class="username" align="center" placeholder="Correo electronico" formControlName="email">

        <input class="password" type="password" align="center" placeholder="Password" formControlName="password">

        <button type="submit" class="submit" align="center">Entrar</button>

        <div class="contact" align="center">&#191; No tienes cuenta ? </div>
        <p class="contact" align="center">&#161; n ! </p>
    </form>

</div>