<div id="reproductor-box">
    <div class="video-header">
        <h1>Black Clover (TV) episodio 1 at Jkanime</h1>
    </div>

    <div class="play-box">
        <ul class="CapiTnv nav nav-pills server-tab anime_muti_link" role="tablist" data-toggle="pills">
            <li role="presentation" data-video="//animeid.cc/streaming.php?id=NDcyMTE=&title=Black+Clover+%28TV%29+Episodio+1" title="Desu" class="active">
                <a href="#option1" class="active">Alvaro</a>
            </li>
            <li role="presentation" data-video="https://pelispng.online/v/7q97-5rmwog" title="Xtreme F">
                <a href="#option2">White</a>
            </li>
            <li role="presentation" data-video="https://streamtape.com/e/m7ZpjZzeyOub34r/black-clover-tv-1.mp4" title="Streamtape">
                <a href="#option3">Streamtape</a>
            </li>
            <li role="presentation" data-video="https://hydrax.net/watch?v=5BzdPkMAY5" title="OpenUpload">
                <a href="#option4">OpenUpload</a>
            </li>
            <li role="presentation" data-video="https://www.yourupload.com/embed/g3Cm8QWO7R8C" title="YourUpload">
                <a href="#option5">YourUpload</a>
            </li>
            <li role="presentation" data-video="https://sbembed.com/embed-p2fyy3o8nalk.html" title="Streamsb">
                <a href="#option6">Streamsb</a>
            </li>
            <li role="presentation" data-video="https://dood.to/e/zqhj8foh2swu" title="Doodstream">
                <a href="#option7">Doodstream</a>
            </li>
            <li role="presentation" data-video="https://mega.nz/embed#!OGAXCI7S!kBAeANdEqjX6DORBqF-BmNi4HwiE3oGvQ_BGmgsu05A" title="Mega">
                <a href="#option8">Mega</a>
            </li>
            <li role="presentation" data-video="https://ok.ru/videoembed/447207705330" title="Okru">
                <a href="#option9">Okru</a>
            </li>
            <li role="presentation" data-video="https://hqq.tv/player/embed_player.php?vid=241239257227264273272234233209245232194271217261258" title="Netu">
                <a href="#option10">Netu</a>
            </li>

        </ul>
        <div class="clr"></div>
        <div class="server-box-tmp">
            <div class="load-video"><iframe src="//animeid.cc/streaming.php?id=NDcyMTE=&title=Black+Clover+%28TV%29+Episodio+1" scrolling="no" allowfullscreen="" width="560" height="315" frameborder="0"></iframe></div>
        </div>
        <div class="serve-share"></div>
    </div>
</div>