<head>

    <link rel="stylesheet" type="text/css" href="https://www5.jkanime.video/static/css/style.css?v=1.2" />
    <script type="text/javascript" src="https://www5.jkanime.video/static/cdn/jquery.min.js"></script>

</head>


<div id="page">
    <header id="site-top" role="banner">
        <div id="site-header">
            <a title="jkAnime" href="/" class="site-logo">
                <img src="/static/img/icon/logo.png" alt="jkAnime logo">
            </a>

        </div>
    </header>
    <div id="container">


        <div id="container" style="margin-top: -10px; padding-top: 0;">
            <span class="pbox"></span>

            <app-player></app-player>

            <div class="video-nav">
                <a class="vnav-left tmp" href="/black-clover-tv" rel="nofollow"><span class="ml-2"></span> Ver Episodios</a>
                <a class="vnav-list" href="/black-clover-tv" rel="nofollow"><i class="list-icon"></i></a>
                <a class="vnav-right" href="/black-clover-tv/2/" rel="nofollow">Capitulo Siguiente <span class="right-arrow-icon">»</span></a>
            </div>
        </div>


    </div>
    <footer id="site-end">
        <div class="footer-links">
            <a href="/shingeki-no-kyojin">Shingeki no Kyojin</a>
            <a href="/sword-art-online">Sword Art Online</a>
            <a href="/one-piece-tv">One Piece</a>
            <a href="/naruto-shippuden-hd">Naruto Shippuden</a>
            <a href="/Dragon Ball Super">Dragon Ball Super</a>
            <a href="/fairy-tail">Fairy Tail</a>
        </div>
        <a class="footer-logo" href="/" rel="home">
            <!--    <img src="/static/img/icon/footer-logo.png" alt="Volver al Inicio" />-->
        </a>
        <div class="site-copy">
            &copy; jkAnime.net 2018
            <div class="right">
                <a href="/terminos-condiciones" rel="nofollow">Terminos de servicio</a>
            </div>
        </div>
    </footer>
    <div class="clear"></div>
</div>
<div class="mask"></div>